* {
  box-sizing: border-box;
}




/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}


  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}
